body {
    background-color:  #2e4053;
}

#contacts {
    text-align: center;
    font-family: "Standard Symbols L";
}

#cv {
    margin: 0 250px;
    width: 1300px;
    height: 1700px;
    background-color: whitesmoke;
    font-family: 'Architects Daughter', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

a {
    color: transparent;
    text-align: center;
    font-size: large;
}

a:hover {
    cursor: pointer;
}

#map {
    background-image: url("map.png");
    width: 100%;
    height: 450px;
}

.linkc {
    width: 50px;
    height: 50px;
    position: relative;
    left: 80px;
    top: 55px;
    background-color: transparent;
}

.linkm {
    width: 50px;
    height: 50px;
    position: relative;
    left: 485px;
    top: 50px;
    background-color: transparent;
}

.linkbp {
    width: 50px;
    height: 50px;
    position: relative;
    left: 1090px;
    top: 230px;
    background-color: transparent;
}

.linke {
    width: 50px;
    height: 50px;
    position: relative;
    left: 1130px;
    top: 160px;
    background-color: transparent;
}

p:hover,
span:hover {
    position: relative;
}

p[aria-label]:hover:after,
span[aria-label]:hover:after {
    content: attr(aria-label);
    padding: 4px 8px;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20;
    background:whitesmoke;
    color: #a60d0d;
    font-size: 20px;
}

p[aria-label]:hover:after {
    background: linear-gradient(90deg, rgba(138,180,248,1) 74%, rgba(255,255,255,1) 100%);
    font-size: 15px;
    color: dimgray;
}

#mainpart {
    display: flex;
    flex-wrap: wrap;
    font-family: "Standard Symbols L";
}

#left,
#right {
    margin-top: 50px;
}

#left {
    margin-left: 20px;
    width: 550px;
    text-align: center;
}

#right {
    margin-left: 90px;
    width: 630px;
    text-align: left;
}

h2 {
    margin-top: 40px;
}

h4:before {
    content: url("map-marker-alt-solid.png");
    position: relative;
    top: 5px;
    right: 5px;
}

.ph {
    margin-left: 10px;
}

.p {
    margin-left: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-left: 70px;
}

.sp {
    width: 200px;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}

.sp:after {
    content: "________";
    font-size: 25px;
    color: #8ab4f8;
    position: relative;
    top: 11px;
}

.jo:after {
    content: "________________";
    position: relative;
    left: -40px;
}

.ja:after {
    content: "___________";
    position: relative;
    left: -35px;
}

.c:after,
.h:after {
    content: "______________";
    position: relative;
    left: -50px;
}

.c:after {
    content: "______________";
    position: relative;
    left: -35px;
}

.py:after {
    content: "______";
    position: relative;
    left: -56px;
}

.s:after {
    content: "____";
    position: relative;
    left: -35px;
}

.ss {
    width: 200px;
}
