body {
    background: url("pexels-fwstudio-139309.jpg");
}

main {
    margin: 0 350px;
    display: flex;
    height: 1000px;
}

img {
    width: 160px;
    height: 160px;
    margin-top: 25px;
    margin-bottom: -20px;
    border-radius: 100px;
}

#top {
    display: flex;
}

.decor {
    width: 350px;
    margin:100px 30px 30px 30px;
    height: 2px;
    border-bottom: black dotted 2px;
}

#contacts {
    text-align: center;
}

#cv {
    width: 80%;
    background-color: whitesmoke;
    font-family: 'Architects Daughter', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#blue,
#green,
#pink,
#yellow,
#orange {
    width: 230px;
    height: 100px;
    margin: 50px 0;
    text-align: center;
    box-shadow: 7px 5px 5px black;
}

#postit {
    margin-top: 120px;
}

#orange {
    background-color:  #FFA500;
}

#blue {
    background-color: aqua;
}

#green {
    background-color: lime;
}

#pink {
    background-color: deeppink;
}

#yellow {
    background-color: yellow;
}

a {
    color: darkgrey;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    top: 20px;
}

a:hover {
    pointer-events: painted;
    color: black;
}

#extra {
    margin: 620px 0 50px -30px;
    background-color: lime;
    width: 30px;
    height: 100px;
}