#map {
    width: 89%;
    height: 100px;
}

#cv {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto Light", serif;
}

@media screen and (max-width : 1800px) {
    #cv {
        width: 90%;
    }
    #map {
        width: 100%;
    }
    .sp {
        width: 120px;
        border-bottom: transparent;
    }
}

@media screen and (max-width : 1440px) {
    #cv {
        width: 100%;
    }
    #map {
        width: 100%;
    }
    .sp {
        width: 120px;
        border-bottom: transparent;
    }
}

@media screen and (max-width: 600px) {
    #cv {
        width: 100%;
    }
    #map {
        width: 100%;
    }
    .sp {
        width: 120px;
        border-bottom: transparent;
    }
}

#contacts {
    text-align: center;
    padding-top: 15px;
    border-bottom: 1px dotted whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 15px;
    color: whitesmoke;
}

p:hover {
     position: relative;
 }

p[aria-label]:hover:after {
    content: attr(aria-label);
    padding: 4px 8px;
    position: absolute;
    left: -40%;
    top: 50%;
    white-space: nowrap;
    z-index: 30;
    background: transparent;
    font-size: 15px;
    color: whitesmoke;
}

.col-1 {
    font-family: 'Architects Daughter', cursive;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px; /*40%, 550px*/
    text-align: center;
    /*background-image: linear-gradient(130deg, #051937 10%, #004d7a, #008793, #00bf72, #a8eb12 100%);*/
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /*background-image: linear-gradient( 135deg,  #aadaff 10%, #a8dab5 100%);*/
    color: white;
}

.col-2 {
    padding-left: 30px;
    padding-right: 10px;
    width: 600px;  /*50%, 650px*/
    text-align: left;
    background-color: white;
    border-right: 1px solid #051937;
    border-bottom: 1px solid #051937;
    border-top: 1px solid #051937;
}

h5,
.col-2  h2 {
    background-image: radial-gradient( #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /*background-image: radial-gradient( #aadaff 30%, #a8dab5 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
    font-family: 'Architects Daughter', cursive;
}

h5 {
    margin-top: 0;
    margin-left: 10px;
    font-size: 15px;
}

.col-1 h2 {
    color: white;
    margin-bottom: 0;

}

h4:before {
    content: "o";
    /*content: url("markergood.png");*/
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /*background-image: linear-gradient(30deg, #aadaff 30%, #a8dab5 70%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    right: 20px;
}

.p {
    margin-left: 40px;
}

.skills {
    border-bottom: 1px dotted white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.sp {
    width: 120px;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
}

.sp:after {
    font-size: 40px;
    position: relative;
    top: 24px;
    color: white;
    font-family: "Roboto Light";
}

.ja:after {
    content: "----";
    position: relative;
    left: -52px;
}

.h:after {
    content: "----";
    position: relative;
    left: -57px;
}

.c:after {
    content: "----";
    position: relative;
    left: -52px;
}

.py:after {
    content: "--";
    position: relative;
    left: -74px;
}

.s:after {
    content: "--";
    position: relative;
    left: -66px;
}

.jo:after {
    content: "------";
    position: relative;
    left: -47px;
}

.ss {
    width: 120px;
}

.work,
.edu {
    border-left: 1px solid #051937 ;
    padding-left: 15px;
}

.linkbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 110px;
    margin-bottom: 15px;
}

.git {
    width: 30px;
    height: 31px;
    background-image: url("github-brands.png");
    margin-right: 50px;
}

.linkd {
    width: 30px;
    height: 34px;
    background-image: url("linkedin-brands.png");
}

#scrum {
    text-decoration: none;
    color: black;
}

#scrum:hover {
    color: #008793;
}